@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

:root {
    --primary-color: #2DBE60; /* green */
    --light-grey-color: #E5E5E5;
    --dark-grey-color: #828282;
    --black-color: #1e1e1e;
    --color-white: #ffffff;
    --shadow: 0 1rem 3rem rgba(0, 0,0, 0.1);
    --section-gutter: 8%;
    --secition-item-gutter: 5%;
}

/* BASICS RESETS */

html {
    box-sizing: border-box;
    /* font-size: 62.5%; => 1rem == 10px */
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h2,h3,.black-text {
    color: var(--black-color);
    font-weight: 700;
}

section h3{
    font-size: 1.375rem;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey-color);
    margin: 0;
    padding: 0;
    /* font-size: 1.6rem; */

}

/* Utility classes */

.btn-success {
    background-color: var(--primary-color) !important;
}

.help-section p{
    font-size: 1.375rem;
}

.help-section, #contact-section {
    margin-bottom: var(--section-gutter);
}

.section-header  {
    font-size: 2rem;
}
.section-header h2 {
    font-size: 2.5rem;
}
.section-header p{
    font-size: 1.563rem;
}

/* ////////////////// HERO SECTION //////////////////////*/

.hero-section {
    background-image: url('../imgs/bg-header-desktop.jpg');
    /* background-position: bottom; */
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    font-weight: 700;
}

.hero-text {
    padding: 20% 5%;
    width: 100%;
}

.bg-header {
    font-size: 3.75rem;
    font-weight: 700;
}

.bg-text {
    font-size: 3rem;
    margin-top: 3rem;
    
}

/* ////////////////// HELP SECTION //////////////////*/

.help-section {
    padding: var(--secition-item-gutter);
}

.help__icon {
    fill: var(--primary-color);
    margin: 3rem auto;
    
}

.help-section, .send-message, .cta-section {
    background: #F1F5F6;
}

/* //////// FORM TO SEND MESSAGE SECTION ////*/

#contact-section h3{
    font-size: 1.875rem;
}

#contact-section p{
    font-size: 1.25rem;
}

.send-message {
    padding: 2rem;
    border-radius: 1rem;
}

.send-message h2{
    font-size: 1.875rem;
}

.form-group label{
    font-weight: normal;
}

.form-group:not(:last-child) {
    margin-bottom: 3rem;
}
.form-control {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    height: calc(2.5em + .75rem + 2px);
    border: 1px solid var(--dark-grey-color);
}

.form-control::placeholder {
    font-weight: 400;
    color: var(--light-grey-color);
    font-family: inherit;
}

.form-button {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 1.563rem;
    border: none;
    font-weight: 700;
    font-family: inherit;
    padding: 1.25rem 0;
    border-radius: 1rem;
    transition: all .5s;
}

.form-button:active {
    transform: translateY(5px);
    transform: scale(1);
}
.form-button:hover {

    transform: scale(1.1);
}

/* /////////////// CTA  SECTION //////////// */
.cta-section {
    padding: 10% 0;
}

/*///////////////// FOOTER SECTION //////////////*/



@media (max-width: 575px) {
    
    body {
        font-size: 1rem;
    }
    .col-sm-6 {
        width: 50%;
    }
    .section-header  {
        font-size: inherit;
    }
    .section-header h2 {
        font-size: 0.813rem;
    }
    #contact-section p{
        font-size: 0.625rem;
    }
    #contact-section h3{
        font-size: 0.75rem;
        line-height: 15px;
    }
     section h3 {
        font-size: 0.688rem;
    }
    .help__icon{
        width: 20%;
        margin: 1rem auto;
    }


    /* HERO SECTION */
    .hero-text {
        padding: 20% 0 50%;
        line-height: 1.5;
    }
   
    .bg-header {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .bg-text {
        font-size: 0.75rem !important;
        font-weight: normal !important;
        margin-top: 1rem;   
    }

    .contact-details {
        text-align: center;
        margin: auto;
    }

    .help-section p{
        font-size: 0.625rem;
    }
    
    #contact-section .social-links a i{
        font-size: .6rem;
    }
    
    .send-message {
        border-radius: 1rem;
        margin-bottom: 3rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .send-message h2{
        font-size: 1.25rem;
    }

    .form-control{
        height: calc(1.5em + .75rem + 2px);
    }

    .form-label{
        font-size: 0.75rem;
    }

    .form-button {
        font-size: 0.75rem;
        font-weight: 500;
    }

}

@media (max-width: 411px) {
    :root {
        --section-gutter: 20%;
    }
    .hero-section {
        background-image: url('../imgs/bg-header-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--color-white);
        font-weight: 700;
        text-align: center;
    }


}
