.testimonials-and-faqs {
	--zuri-gray-100: #495057;
	--zuri-gray-200: rgba(123, 147, 245, 0.1);
	--zuri-gray-300: #212429;
	--zuri-blue: #4263eb;
}

.enterpreneur {
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url('../imgs/entrepreneur.png');
	background-position: center;
	background-size: cover;
	object-fit: cover;
}

.enterpreneur::before {
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
}

.enterpreneur__inner {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 2;
}

.enterpreneur__inner h1 {
	font-size: 60px;
	font-weight: 900;
	line-height: 90px;
}

.enterpreneur__inner p {
	font-size: 30px;
	font-weight: 900;
	line-height: 45p x;
}

/* testimonials */
.testimonials {
	padding-top: 70px;
	padding-bottom: 70px;
}

.testimonials__header h1 {
	font-weight: normal;
	font-size: 30px;
	line-height: 45px;
	color: var(--zuri-gray-300);
}

.testimonials__header h2 {
	font-weight: 500;
	font-size: 40px;
	line-height: 60px;
	color: var(--zuri-blue);
}

.testimonials__header p {
	font-size: 20px;
	line-height: 30px;
	color: var(--zuri-gray-100);
}

.testimonials__card {
	background-color: var(--zuri-gray-200);
	border-radius: 30px;
	margin-top: 80px;
}

.testimonials__card--first {
	margin-top: 118px;
}

.testimonials__card > img {
	border-radius: 30px;
	height: 355px;
	width: 355px;
}

.testimonials__card p {
	color: var(--zuri-gray-100);
	font-size: 20px;
	line-height: 30px;
}

.testimonials__content {
	padding: 77px 22px;
}

.testimonials__content p {
	padding: 0 40px;
}

.testimonials__content img {
	height: 65px;
}

/* faqs */
.faqs {
	background-color: var(--zuri-gray-200);
	padding: 100px 0;
}

.faqs__header h1 {
	font-weight: 500;
	font-size: 40px;
	line-height: 60px;
	color: var(--zuri-gray-300);
}

.faqs__header p {
	font-size: 20px;
	line-height: 30px;
	color: var(--zuri-gray-100);
}

.faqs__content button {
	font-weight: 20px;
	line-height: 30px;
	color: var(--zuri-gray-300);
	background-color: #ffffff;
	padding-left: 3rem;
	padding-right: 3rem;
}

.faqs__content div:first-child button {
	font-weight: 20px;
	line-height: 30px;
	color: #ffffff;
	background-color: var(--zuri-blue);
	padding-left: 3rem;
	padding-right: 3rem;
}

.faqs__accordion {
	margin-top: 72px;
	background-color: #ffffff;
}

.faqs__accordion button {
	font-size: 20px;
	line-height: 45px;
	color: var(--zuri-gray-100);
	background-color: #ffffff;
	outline: none;
	border: 1px solid #f0f0f0;
}

.faqs__accordion button:focus,
.faqs__accordion button:hover {
	border: 1px solid var(--zuri-gray-100);
}

.faqs__accordion p {
	font-size: 20px;
	line-height: 45px;
	color: var(--zuri-gray-100);
	opacity: 0.6;
	background-color: #ffffff;
	display: block;
}

@media screen and (max-width: 768px) {
	.enterpreneur__inner h1 {
		line-height: 70px;
	}

	.enterpreneur__inner p {
		line-height: 40px;
	}
}
